<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div id="navbarNav" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto ">

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
      </li>
    </ul>

  </div>
</nav>
<router-outlet></router-outlet>