<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Registration</a>
  <div id="navbarNav" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/books-list">Show Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/add-book">Add Books</a>
      </li>
    </ul>
    <!-- <ul ngbNav #nav="ngbNav" class="nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink routerLinkActive="active" routerLink="/books-list">Show Books</a>

      </li>
      <li ngbNavItem>
        <a ngbNavLink routerLinkActive="active" routerLink="/add-book">Add Books</a>

      </li>
    </ul> -->
    <!-- <div [ngbNavOutlet]="nav"></div> -->
  </div>
</nav>
<router-outlet></router-outlet>