@import 'material-icons/iconfont/material-icons.css';

body{
    color: #888;
}
.auth-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    min-width: 100%;
    min-height: 100vh;
}
.auth-wrapper .auth-content {
    position: relative;
    width: 390px;
    padding: 15px;
    z-index: 5;
}
.auth-wrapper .auth-bg .r {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.auth-wrapper .auth-bg .r:first-child {
    top: -100px;
    right: -100px;
    background: linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%);
}

.auth-wrapper .auth-bg .r:nth-child(odd) {
    -webkit-animation: floating 7s infinite;
    animation: floating 7s infinite;
}
.auth-wrapper .auth-bg .r.s {
    width: 20px;
    height: 20px;
}
.auth-wrapper .auth-bg .r.s:nth-child(2) {
    top: 150px;
    right: -150px;
    background: #04a9f5;
}
.auth-wrapper .auth-bg .r.s:nth-child(3) {
    left: -150px;
    bottom: 150px;
    background: #1de9b6;
}
.auth-wrapper .auth-bg .r:nth-child(even) {
    -webkit-animation: floating 9s infinite;
    animation: floating 9s infinite;
}

.auth-wrapper .auth-bg .r:last-child {
    left: -100px;
    bottom: -100px;
    background: linear-gradient(-135deg, #899FD4 0%, #A389D4 100%);
}

@keyframes floating {
    0%{
        -webkit-transform: rotate(0deg) translate(-10px) rotate(0deg);
        transform: rotate(0deg) translate(-10px) rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(360deg) translate(-10px) rotate(-360deg);
        transform: rotate(360deg) translate(-10px) rotate(-360deg);
    }
}
.auth-wrapper .card {
    margin-bottom: 0;
}
.card {
    border-radius: 0;
    -webkit-box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
    box-shadow: 0 1px 20px 0 rgb(69 90 100 / 8%);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.card .card-block, .card .card-body {
    padding: 30px 25px;
}
.auth-wrapper .auth-icon {
    font-size: 30px;
}
.auth-wrapper .input-group {
    background: transparent;
}
.custom-select, .form-control {
    background: #f4f7fa;
    padding: 10px 20px;
    font-size: 14px;
}


