<!-- <div class="container">

  <div class="row justify-content-center pt-5">
      <div class="col-md-6">
			<h1 class="text-center">Register User!</h1>
			<form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group mt-3">
					<label>Email</label>
					<input
						type="text"
						formControlName="email"
						class="form-control"
						[ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
					/>
					<div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
						<div *ngIf="f['email'].errors['required']">Email is required</div>
						<div *ngIf="f['email'].errors['email']">Email is invalid</div>
					</div>
            </div>
            <div class="form-group mt-3">
					<label>Password</label>
					<input
						type="password"
						formControlName="password"
						class="form-control"
					/>
            </div>

            <div class="form-group mt-3 d-flex justify-content-between">
					<button type="submit" class="btn btn-primary">Register</button>
					<button type="button" (click)="onReset()" class="btn btn-primary ms-3 float-right">
						Reset
					</button>
            </div>
       	</form>

      </div>
  </div>
</div> -->

<div class="auth-wrapper">
	<div class="auth-content">
		<div class="auth-bg">
			<span class="r"></span>
			<span class="r s"></span>
			<span class="r s"></span>
			<span class="r"></span>
		</div>
		<form [formGroup]="form" (ngSubmit)="onSubmit()">
			<div class="card">
				<div class="card-body text-center">
					<div class="mb-2">
						<span class="material-icons">lock</span>
					</div>
					<h1 class="mb-4">Company Login</h1>

					<div class="input-group mt-3">
						<input type="text" placeholder="Email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
						<div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
							<div *ngIf="f['email'].errors['required']">Email is required</div>
							<div *ngIf="f['email'].errors['email']">Email is invalid</div>
						</div>
					</div>
					<div class="input-group mt-3">
						<input type="password" placeholder="Password" formControlName="password" class="form-control" />
					</div>

					<div class="input-group mt-3 d-flex justify-content-center mt-4 pt-2">
						<button type="submit" class="btn btn-primary rounded">
							<a routerLink="/register">Register</a>
						</button>
						<!-- <button type="button" (click)="onReset()" class="btn btn-primary rounded ms-3 float-right">
							Reset
						</button> -->
						<button type="button" class="btn btn-primary rounded ms-3 float-right">
							Login
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>