
<div class="auth-wrapper">
	<div class="auth-content">
		<div class="auth-bg">
			<span class="r"></span>
			<span class="r s"></span>
			<span class="r s"></span>
			<span class="r"></span>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
			<div class="card">
				<div class="card-body text-center">
					<div class="mb-2">
						<span class="material-icons">person</span>
					</div>
                    <h1 class="mb-4">Register User</h1>
                    <div class="input-group mt-3">
                        <input
                            placeholder="Email"
                            type="text"
                            formControlName="email"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
                        />
                        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                            <div *ngIf="f['email'].errors['required']" class="text-start">Email is required</div>
                            <div *ngIf="f['email'].errors['email']" class="text-start">Email is invalid</div>
                        </div>
                    </div>
                    <div class="input-group mt-3">
                        <input
                            type="password"
                            placeholder="Password"
                            formControlName="password"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
                        />
                        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                            <div class="text-start" *ngIf="f['password'].errors['required']">Password is required</div>
                            <div class="text-start" *ngIf="f['password'].errors['minlength']">
                                Password must be at least 6 characters
                            </div>
                            <div class="text-start" *ngIf="f['password'].errors['maxlength']">
                                password must not exceed 40 characters
                            </div>

                            <div class="text-start" *ngIf="f['password'].errors['pattern']">
                                password must be contains capital letter, numbers and any special charecter.
                            </div>
                        </div>
                    </div>
                    <div class="input-group mt-3">
                        <input
                            type="password"
                            placeholder="Confirm password"
                            formControlName="confirmPassword"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
                        />
                        <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                            <div class="text-start" *ngIf="f['confirmPassword'].errors['required']">
                                Confirm Password is required
                            </div>
                            <div class="text-start" *ngIf="f['confirmPassword'].errors['matching']">
                                Confirm Password does not match
                            </div>
                        </div>
                    </div>
                    <div class="form-group my-3 d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Register</button>
                        <button type="button" (click)="onReset()" class="btn btn-primary ms-3 float-right">
                            Reset
                        </button>
                    </div>

				</div>
			</div>
		</form>
    </div>
</div>
