<div class="container">

    <div class="row justify-content-center pt-5">
        <div class="col-md-6">
            <h1 class="text-center">Register User!</h1>
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
				<div class="form-group mt-3">
					<label>Full Name</label>
					<input
						type="text"
						formControlName="fullname"
						class="form-control"
						[ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }"
					/>
					<div *ngIf="submitted && f['fullname'].errors" class="invalid-feedback">
						<div *ngIf="f['fullname'].errors['required']">Fullname is required</div>
					</div>
				</div>
				<!-- <div class="form-group mt-3">
					<label>Username</label>
					<input
						type="text"
						formControlName="username"
						class="form-control"
						[ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
					/>
					<div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
						<div *ngIf="f['username'].errors['required']">Username is required</div>
						<div *ngIf="f['username'].errors['minlength']">
							Username must be at least 6 characters
						</div>
						<div *ngIf="f['username'].errors['maxlength']">
							Username must not exceed 20 characters
						</div>
					</div>
				</div> -->

				<div class="form-group mt-3">
					<label>Mobile number</label>
					<input
						type="text"
						formControlName="mobile"
						class="form-control"
						[ngClass]="{ 'is-invalid': submitted && f['mobile'].errors }"
					/>
					<div *ngIf="submitted && f['mobile'].errors" class="invalid-feedback">
						<div *ngIf="f['mobile'].errors['required']">mobile number is required</div>
						<div *ngIf="f['mobile'].errors['pattern']">mobile number must have digits</div>
						<div *ngIf="f['mobile'].errors['minlength']">
							mobile number must be at least 10 digits
						</div>
						<div *ngIf="f['mobile'].errors['maxlength']">
							mobile numer is invalid
						</div>
					</div>
				</div>

				<div class="form-group mt-3">
					<label>Url</label>
					<input
						type="text"
						formControlName="url"
						class="form-control"
						[ngClass]="{ 'is-invalid': submitted && f['url'].errors }"
					/>
					<div *ngIf="submitted && f['url'].errors" class="invalid-feedback">
						<div *ngIf="f['url'].errors['required']">url is required</div>
						<div *ngIf="f['url'].errors['pattern']">Please provide valid url</div>

					</div>
				</div>
				<div class="form-group mt-3">
					<label>Email</label>
					<input
						type="text"
						formControlName="email"
						class="form-control"
						[ngClass]="{ 'is-invalid': submitted && f['email'].errors }"
					/>
					<div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
						<div *ngIf="f['email'].errors['required']">Email is required</div>
						<div *ngIf="f['email'].errors['email']">Email is invalid</div>
					</div>
				</div>
				<div class="form-group mt-3">
					<label>Password</label>
					<input
						type="password"
						formControlName="password"
						class="form-control"
						[ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
					/>
					<div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
						<div *ngIf="f['password'].errors['required']">Password is required</div>
						<div *ngIf="f['password'].errors['minlength']">
							Password must be at least 6 characters
						</div>
						<div *ngIf="f['password'].errors['maxlength']">
							password must not exceed 40 characters
						</div>

						<div *ngIf="f['password'].errors['pattern']">
							password must be contains capital letter, numbers and any special charecter.
						</div>
					</div>
				</div>
				<div class="form-group mt-3">
					<label>Confirm Password</label>
					<input
						type="password"
						formControlName="confirmPassword"
						class="form-control"
						[ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
					/>
					<div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
						<div *ngIf="f['confirmPassword'].errors['required']">
							Confirm Password is required
						</div>
						<div *ngIf="f['confirmPassword'].errors['matching']">
							Confirm Password does not match
						</div>
					</div>
				</div>
				<div class="form-group mt-3">
					<label for="file">File</label>
					<input
						formControlName="file"
						id="file"
						type="file"
						class="form-control"
						(change)="onFileChange($event)">
					<div *ngIf="f['file'].touched && f['file'].invalid" class="alert alert-danger">
						<div *ngIf="f['file'].errors && f['file'].errors['required']">File is required.</div>
					</div>
				</div>
				<!-- <div class=" mt-3">
					<label for="hobbies">Hobbies</label><br>
					<div class="form-check form-check-inline mt-2">
						<input
							mdbCheckbox
							class="form-check-input"
							type="checkbox"
							id="cricket"
							value="option1"
						/>
						<label class="form-check-label" for="cricket">Cricket</label>
					</div>
					<div class="form-check form-check-inline mt-2">
						<input
						mdbCheckbox
						class="form-check-input"
						type="checkbox"
						id="chess"
						value="option2"
						/>
						<label class="form-check-label" for="chess">Chess</label>
					</div>
				</div> -->

				<div>
					<p>Hobbies</p>
					<input class="form-check-input" type="checkbox" id="cricket" value="cricket" name="checkbox" />
					<label class="form-check-label" for="cricket">Cricket</label>

					<input class="form-check-input" type="checkbox" id="tv" value="tv" name="checkbox" />
					<label class="form-check-label" for="tv">tv</label>
				</div>
				<div class=" mt-3">
					<!-- <label for="gender">Gender</label><br>
					<div class="form-check form-check-inline mt-2">
						<input
							mdbRadio
							class="form-check-input"
							type="radio"
							name="gender"
							id="female"
							value="option1"
						/>
						<label class="form-check-label" for="female">Female</label>
					</div>
					<div class="form-check form-check-inline mt-2">
						<input
						mdbRadio
						class="form-check-input"
						type="radio"
						name="gender"
						id="male"
						value="option2"
						/>
						<label class="form-check-label" for="male">male</label>
					</div> -->
					<label *ngFor="let order of orders;">
						<input type="radio" name="orders" [value]="order.id" />
						{{order.name}}
						</label>
				</div>
				<div style="width:50%">
					<ng-multiselect-dropdown
						[settings]="dropdownSettings"
						[data]="dropdownList">
					</ng-multiselect-dropdown>
				</div>

				<div>
					<p class="py-3 m-0">Active or not?</p>
					<ng-toggle
						[value]="true"
						[color]="{
							unchecked: '#939da2',
							checked: '#f62d51'
						}">
					</ng-toggle>
				</div>

				<div class="my-3">
					<p>Range value</p>
					<ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
				</div>

				<div class="mt-3">
					<label>Date</label>
					<input class="form-control" type="date" value="" id="date">
					<!-- <input type="date" (ngModelChange)="changedDate($event)"> -->
				</div>

				<div class="mt-3">
					<label>Time</label>
					<input class="form-control" type="time" value="" id="time">
				</div>

				<div class="mt-3">
					<label>Month</label>
					<input class="form-control" type="month" value="" id="month">
				</div>

				<div class="mt-3">
					<label>Week</label>
					<input class="form-control" type="week" value="" id="week">
				</div>

				<div class="mt-3">
					<label>Color</label>
					<input class="form-control" type="color" value="" id="week">
				</div>

				<div class="form-group my-3 d-flex justify-content-between">
					<button type="submit" class="btn btn-primary">Register</button>
					<button type="button" (click)="onReset()" class="btn btn-primary ms-3 float-right">
						Reset
					</button>
				</div>
			</form>
        </div>
    </div>
</div>